<div class="container">
    <h1>Ajouter un nouvel atelier</h1>

    <%= simple_form_for @poi do |f| %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.input :title %>
      <%= f.input :caption %>

      <div id="submit_new_poi">
        <%= f.button :submit %>
      </div>
    <% end %>
</div>
